body {
  width: 100%;
  margin: 5px;
}

section {
  display: grid;
  grid-auto-columns: minmax(120px, auto);
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  background-color: rgb(235, 242, 255);
  border: 1px solid black;
  line-height: 5em;
}

nav {
  grid-column: 1 / 3;
  grid-row: 5 / 10;
  background-color: rgb(206, 223, 253);
  border-style: solid;
  border-width: 0 1px;
  line-height: 10em;
}

.c {
  grid-column: 1 / 3;
  grid-row: 10 / 18;
  line-height: 8em;
}

.d {
  grid-column: 1 / 3;
  grid-row: 18 / 26;
  line-height: 8em;
}

.e {
  grid-column: 1;
  grid-row: 26 / 43 ;
  line-height: 17em;
}

.f {
  grid-column: 2;
  grid-row: 26 / 43 ;
  line-height: 17em;
}

.g {
  grid-column: 1;
  grid-row: 43 / 60;
  line-height: 17em;
}

.h {
  grid-column: 2;
  grid-row: 43 / 60;
  line-height: 17em;
}

.i {
  grid-column: 1 / 3;
  grid-row: 60 / 65;
  line-height: 5em;
}

/* ========== Tablet Mode ========== */

@media only screen and (min-width: 636px) {
  body {
    width: 100%;
  }

  section {
    display: grid;
    grid-auto-columns: minmax(140px, auto);
  }

  header {
    background-color: rgb(255, 250, 233);
    width: 100%;
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    line-height: 5em;
  }

  nav {
    grid-column: 1 / 5;
    grid-row: 5;
    line-height: 10em;
  }

  .c {
    grid-column: 1 / 3;
    grid-row: 15;
    line-height: 20em;
  }

  .d {
    grid-column: 3 / 5;
    grid-row: 15;
    line-height: 20em;
  }

  .e {
    grid-column: 1 / 2;
    grid-row: 20;
    line-height: 25em;
  }

  .f {
    grid-column: 2 / 3;
    grid-row: 20;
    line-height: 25em;
  }

  .g {
    grid-column: 3 / 4;
    grid-row: 20;
    line-height: 25em;
  }

  .h {
    grid-column: 4 / 5;
    grid-row: 20;
    line-height: 25em;
  }

  .i {
    grid-column: 1 / 5;
    grid-row: 30;
    line-height: 8em;
  }
}

/* ========== Desktop Mode ========== */

@media only screen and (min-width: 767px) {
  body {
    width: 100%;
  }

  section {
    display: grid;
  }

  header {
    background-color: rgb(255, 232, 243);
    grid-column: 1 / 6;
    grid-row: 1;
    line-height: 7em;
  }

  nav {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    line-height: 8em;
  }

  .c {
    grid-column: 1;
    grid-row: 2 / 6;
    line-height: 40em;
  }

  .d {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    line-height: 20em;
  }
    
  .e {
    grid-column: 4 / 6;
    grid-row: 3 / 5;
    line-height: 20em;
  }

  .f {
    grid-column: 2 / 4;
    grid-row: 5;
    line-height: 20em;
  }

  .g {
    grid-column: 4 / 6;
    grid-row: 5;
    line-height: 20em;
  }

  .h {
    grid-column: 1 / 2;
    grid-row: 6;
    line-height: 12em;
  }

  .i {
    grid-column: 2 / 6;
    grid-row: 6;
    line-height: 10em;
  }
}