*{
  border-color: black;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
}

.c {
  background-color: rgb(185, 211, 255);
  border-style: solid;
  border-width: 1px;
}

.d {
  background-color: rgb(169, 201, 255);
  border-style: solid;
  border-width: 0 1px;
}

.e {
  background-color: rgb(138, 181, 255);
  border-style: solid;
  border-width: 1px;
}
  
.f{
  background-color: rgb(129, 175, 255);
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.g {
  background-color: rgb(86, 148, 253);
  border-style: solid;
  border-width: 0 1px;
}

.h {
  background-color: rgb(61, 131, 253);
  border-style: solid;
  border-width: 0 1px 0 0;
}

.i {
  background-color: rgb(31, 113, 255);
  border-style: solid;
  border-width: 1px;
}

/* ========== Tablet Mode ========== */

@media only screen and (min-width: 636px) {
nav {
  background-color: rgb(253, 244, 213);
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

.c {
  background-color: rgb(252, 238, 189);
  border-style: solid;
  border-width: 0 1px 1px 1px;
}
  
.d {
  background-color: rgb(253, 235, 170);
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.e {
  background-color: rgb(252, 229, 147);
  border-style: solid;
  border-width: 0 1px 1px 1px;
}
    
.f {
  background-color: rgb(255, 226, 119);
  border-style: solid;
  border-width: 0 1px 1px 0;
}
  
.g {
  background-color: rgb(255, 221, 98);
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.h {
  background-color: rgb(255, 214, 65);
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.i {
  background-color: rgb(255, 207, 31);
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

/* ========== Desktop Mode ========== */

@media only screen and (min-width: 768px) {
  nav {
    background-color: rgb(255, 210, 231);
    border-style: solid;
    border-width: 0 1px 1px 1px;
  }

  .c {
    background-color: rgb(255, 182, 216);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }
  
  .d {
    background-color: rgb(255, 153, 201);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }

  .e {
    background-color: rgb(255, 128, 187);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }
    
  .f {
    background-color: rgb(255, 104, 175);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }
  
  .g {
    background-color: rgb(255, 79, 161);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }
  
  .h {
    background-color: rgb(255, 56, 149);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }

  .i {
    background-color: rgb(255, 31, 136);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }
}